<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <meta name="google-signin-client_id"
    content="511289183336-vh5i33jabhhq6d1fa3mcd8fq9h96f7pa.apps.googleusercontent.com">
  <script src="https://apis.google.com/js/platform.js" async defer></script>

  <title>
    <%= title %>
  </title>

  <script src="https://kit.fontawesome.com/6e0fec262f.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/stylesheets/style.css">


  <% if(locals.message) { %>
    <script>alert("<%= message %>"); </script>
  <% } %>
</head>