<div class="nav">
  <input type="checkbox" id="nav-check">
  <div class="nav-header">
    <div class="nav-title">
      Food Tracker
    </div>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>

  <div class="nav-links">
    <a href="/">Home</a>
    <a href="/history">My Log</a>
    <a href="/analyze">Analytics</a>
    <!-- <a  href="#"><div class="g-signin2" data-onsuccess="onSignIn"></div></a> -->
    <a href="/loginView">
      Login</a>
      <!-- <a href="#"><div class="g-signin2" data-onsuccess="onSignIn"></div></a> -->
    <a href="#" onclick="signOut()">Sign Out</a>

    <form  action="/search_name" method="POST">
      <input name="food_search" type="search" placeholder="Search" aria-label="Search" required>
      <button type="submit" class="btn-primary">Search</button>
    </form>
  </div>
</div>

