<% include partials/head %>
    <% include partials/nav %>

        <body>
            <div class="container">
                <div class="jumbotron">
                    <h1>Analytics</h1>


                  </div>
                <div id="spinner">
                    <div class="d-flex align-items-center spinner">
                        <strong>Loading...</strong>
                        <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
                    </div>
                </div>



                <img src="<%= calorieChart %>" class="chart img-fluid">
                <img src="<%= nutritionChart %>" class="chart img-fluid">

            </div>
        </body>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/javascripts/main.js"></script>

        </html>