<% include partials/head %>

  <body>
    <% include partials/nav %>

<div class="container">
        <h1>Welcome to the Food Tracker</h1>
        <h4>track. analyze. reach your goals.</h4>



      <div class="card center-text">
        <div class="third">
          <div class="icon">
            <i class="fas fa-clipboard-list"></i>


          </div>
          <h4>
            Track
          </h4>
          <div class="card-content">
            Find quick and accurate results from the <span class="highlight">Edamam food database</span> and nutritional
            analysis API.
          </div>
        </div>
        <div class="third">
          <div class="icon">
            <i class="far fa-chart-bar"></i>
          </div>
          <h4>
            Analyze
          </h4>
          <div class="card-content">
            <span class="highlight">Analyze</span> your caloric intake and macros over time. Find out what keeps you satiated.
          </div>
        </div>
        <div class="third">
          <div class="icon">
            <i class="fas fa-weight"></i>


          </div>
          <h4>
            Reach your goals
          </h4>
          <div class="card-content">
            Whether you're looking to gain weight, lose, weight maintain or just feel healthier, we can help you <span class="highlight">reach your goals.</span>
          </div>
        </div>

      </div>



<%- include partials/end-body-scripts.ejs %>
</body>
  </html>