<% include partials/head %>
  <body>
    <% include partials/nav %>

    <h1><%= title %></h1>


    <a href="#"><div class="g-signin2" data-onsuccess="onSignIn"></div></a>

            <a href="#" onclick="signOut();">Sign out</a>


  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/javascripts/main.js"></script>
</html>
